footer {
    padding: 2rem 1.5rem;
    background: $very-dark-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .form_copyright_wrapper {
        p {
            display: none;
            color: $dark-grayish-blue;
            font-size: .9rem;
        }
    }

    form {
        height: 5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5rem;
        justify-content: center;

        span {
            position: absolute;
            margin: auto;
            bottom: 0;
            color: $bright-red;
            font-style: italic;
            font-size: .9rem;
        }

        .form_container {
            display: flex;
            // justify-content: center;
            gap: .5rem;
            margin-bottom: auto;
        }

        .email {
            height: 3rem;
            padding: .75rem;
            border-radius: 2rem;
            border: none;
            font-family: inherit;
            border: 1px solid $very-dark-blue;
        }

        .submit {
            height: 3rem;
            padding: .75rem 1.5rem;
            border-radius: 2rem;
            border: none;
            background: #DD370E;
            color: #fff;
            font-weight: 700;
            font-family: inherit;
            cursor: pointer;
            
            &:hover {
                background: hsl(12, 100%, 67%);
                transition: .2s;
            }
        }
    }

    nav {
        margin-top: -2rem;
        display: flex;
        gap: 3rem;
        justify-content: space-around;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                cursor: pointer;
                text-decoration: none;
                color: #fff;
                font-size: .9rem;

                &:hover {
                    color: $bright-red;
                    transition: .2s;
                }
            }
        }
    }

    .logo_socials_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .socials_wrapper {
            list-style-type: none;
            display: flex;
            gap: 1.5rem;
            order: -1;

            svg {
                fill: #fff;
                transform: scale(1.25);

                &:hover {
                    fill: $bright-red;
                    transition: .2s;
                }
            }
        }

        p {
            color: $dark-grayish-blue;
            font-size: .9rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 6rem 9rem;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;



        .logo_socials_wrapper {
            flex-direction: column-reverse;
            align-items: flex-start;
            justify-content: space-between;
            height: 10rem;


            .socials_wrapper {
                gap: 1rem;
            }

            p {
                display: none;
            }
        }

        nav {
            flex-grow: 1;
            justify-content: space-evenly;
            margin-top: 0;
            height: 10rem;
            
            ul {
                gap: 1.5rem;

                a {
                    font-size: 1rem;
                }
            }
        }

        .form_copyright_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 10rem;
            
            p {
                display: block;
                align-self: flex-end;
            }
        }
    }
}