header {
    padding: 2.5rem 1.5rem;

    .logo_button_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hamburger {
            border: none;
            background: transparent;
        }
    }

    nav {
        .nav-ul {
            list-style-type: none;
            display: none;

            &.show {
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                padding: 2rem;
                border-radius: .25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                .invisible_on_mobile {
                    display: none;
                }
            }

            a {
                cursor: pointer;
                text-decoration: none;
                color: $dark-blue;
                font-weight: 700;
            }
        }
    }
}