@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Be Vietnam Pro, sans-serif;
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1023px) {
  header {
    padding: 2.5rem 0;
  }
  header .logo_button_wrapper {
    width: 90%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .logo_button_wrapper .hamburger {
    border: none;
    background: transparent;
  }
  header nav .nav-ul {
    list-style-type: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    border-radius: .25rem;
    background: #fff;
    width: 0;
    position: absolute;
    z-index: 99;
    margin: auto;
    left: 0;
    right: 0;
    top: -999rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
  header nav .nav-ul.show {
    top: 6.5rem;
    width: 90%;
    -webkit-transition: width .5s;
    transition: width .5s;
  }
  header nav .nav-ul .invisible_on_mobile {
    display: none;
  }
  header nav .nav-ul a {
    cursor: pointer;
    text-decoration: none;
    color: #242d52;
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 5rem 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo_button_wrapper .hamburger {
    display: none;
  }
  header nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }
  header nav .nav-ul .centered_links {
    margin-left: auto;
  }
  header nav .nav-ul a {
    cursor: pointer;
    text-decoration: none;
    color: #242d52;
    font-weight: 500;
  }
  header nav .nav-ul a:hover {
    color: #9095a7;
    -webkit-transition: .2s;
    transition: .2s;
  }
  header nav .nav-ul .pushed_to_the_right_link {
    margin-left: auto;
  }
  header nav .nav-ul .pushed_to_the_right_link a {
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    background: #f25f3a;
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    color: #fff;
    font-weight: 700;
  }
  header nav .nav-ul .pushed_to_the_right_link a:hover {
    opacity: 70%;
  }
}

@media screen and (min-width: 1440px) {
  header nav .nav-ul {
    gap: 3rem;
  }
}

main {
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

main .text_wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

main .text_wrapper h1 {
  color: #242d52;
}

main .text_wrapper p {
  color: #9095a7;
}

main .text_wrapper .get_started_link {
  text-decoration: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: #f25f3a;
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 700;
  font-size: .8rem;
}

main .text_wrapper .get_started_link:hover {
  opacity: 70%;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 0rem 9rem 5rem 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .intro_illustration {
    width: 50%;
  }
  main .text_wrapper {
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main .text_wrapper .get_started_link {
    font-size: .9rem;
  }
}

@media screen and (min-width: 1440px) {
  main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .text_wrapper {
    width: 40%;
    gap: 2rem;
  }
  main .text_wrapper h1 {
    font-size: 3.5rem;
  }
  main .text_wrapper p {
    width: 65%;
  }
}

.difference {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.difference .text_wrapper {
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.difference .text_wrapper h2 {
  color: #242d52;
  font-size: 1.75rem;
}

.difference .text_wrapper p {
  color: #9095a7;
}

.difference .subsections_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.difference .text_subsection {
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.difference .text_subsection .subsection_heading {
  padding-right: 1.5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffefeb;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  gap: .5rem;
}

.difference .text_subsection .subsection_heading span {
  background: #f25f3a;
  padding: .5rem 1rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
}

.difference .text_subsection .subsection_heading h3 {
  font-size: .9rem;
  color: #242d52;
}

.difference .text_subsection .desktop_heading {
  display: none;
}

.difference .text_subsection p {
  padding-right: 1.5rem;
  color: #9095a7;
}

@media screen and (min-width: 1024px) {
  .difference {
    padding: 5rem 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3rem;
  }
  .difference .text_wrapper {
    text-align: start;
    padding: 0;
    width: 50%;
  }
  .difference .text_wrapper h2 {
    font-size: 2rem;
  }
  .difference .subsections_wrapper {
    width: 50%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .difference .text_subsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0;
    padding: 0;
  }
  .difference .text_subsection .subsection_heading {
    background: none;
  }
  .difference .text_subsection .subsection_heading span {
    padding: .5rem 1.5rem;
  }
  .difference .text_subsection .subsection_heading h3 {
    font-size: 1rem;
    display: none;
  }
  .difference .text_subsection .desktop_wrapper {
    margin-top: .65rem;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .difference .text_subsection .desktop_wrapper .desktop_heading {
    display: block;
    color: #242d52;
  }
}

@media screen and (min-width: 1440px) {
  .difference {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .difference .text_wrapper {
    width: 30%;
  }
  .difference .text_wrapper h2 {
    font-size: 2.5rem;
  }
  .difference .text_subsection {
    width: 70%;
  }
}

.slider {
  padding: 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.slider h2 {
  color: #242d52;
  font-size: 1.75rem;
}

.slider .slide {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.slider .slide .avatar {
  width: 6rem;
}

.slider .slide .name {
  color: #242d52;
  font-weight: 700;
}

.slider .slide p {
  color: #9095a7;
}

.slider .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .dots .dot {
  cursor: pointer;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 1px solid #f25f3a;
  color: #bbb;
  border-radius: 50%;
}

.slider .dots .dot.active, .slider .dots .dot:hover {
  background: #f25f3a;
}

.slider .get_started_link {
  text-decoration: none;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background: #f25f3a;
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  color: #fff;
  font-weight: 700;
  font-size: .8rem;
}

.slider .get_started_link:hover {
  opacity: 70%;
}

.desktop_slider {
  display: none;
}

@media screen and (min-width: 1024px) {
  .mobile_slider {
    display: none;
  }
  .desktop_slider {
    padding: 3rem 9rem 12rem 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
  .desktop_slider h2 {
    color: #242d52;
    font-size: 2rem;
  }
  .desktop_slider .slides_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 5rem;
    width: 100%;
  }
  .desktop_slider .slide_container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    width: 20rem;
    height: 17.5rem;
    text-align: center;
  }
  .desktop_slider .slide_container .avatar {
    width: 5rem;
  }
  .desktop_slider .slide_container .name {
    color: #242d52;
    font-weight: 700;
  }
  .desktop_slider .slide_container p {
    color: #9095a7;
  }
  .desktop_slider .get_started_link {
    text-decoration: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: #f25f3a;
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    color: #fff;
    font-weight: 700;
  }
  .desktop_slider .get_started_link:hover {
    opacity: 70%;
    -webkit-transition: .2s;
    transition: .2s;
  }
}

@media screen and (min-width: 1440px) {
  .desktop_slider h2 {
    font-size: 2.5rem;
  }
}

.simplify {
  background: #f25f3a;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  text-align: center;
  position: relative;
  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-size: 4.5rem;
  background-position: center left;
}

.simplify .mobile_simplify {
  display: none;
}

.simplify h2 {
  color: #fff;
  font-size: 1.75rem;
}

.simplify a {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
  background: #fff;
  color: #f25f3a;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  padding: .75rem 1.25rem;
  border-radius: 3rem;
}

.simplify a:hover {
  opacity: 85%;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (min-width: 1024px) {
  .simplify {
    padding: 6rem 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-size: 100% 100%;
    background-size: cover;
    background-position-x: 15rem;
  }
  .simplify h2 {
    font-size: 2.5rem;
    width: 55%;
    text-align: start;
    z-index: 1;
  }
  .simplify a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .simplify h2 {
    width: 35%;
  }
}

footer {
  padding: 2rem 1.5rem;
  background: #1d1e25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

footer .form_copyright_wrapper p {
  display: none;
  color: #9095a7;
  font-size: .9rem;
}

footer form {
  height: 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: .5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer form span {
  position: absolute;
  bottom: 0;
  color: #f25f3a;
  font-style: italic;
  font-size: .9rem;
}

footer form .form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  margin-bottom: auto;
}

footer form .email {
  height: 3rem;
  padding: .75rem;
  border-radius: 2rem;
  border: none;
  font-family: inherit;
  border: 1px solid #1d1e25;
}

footer form .submit {
  height: 3rem;
  padding: .75rem 1.5rem;
  border-radius: 2rem;
  border: none;
  background: #f25f3a;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
}

footer form .submit:hover {
  background: #ff7857;
  -webkit-transition: .2s;
  transition: .2s;
}

footer nav {
  margin-top: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

footer nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
}

footer nav ul a:hover {
  color: #f25f3a;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .logo_socials_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

footer .logo_socials_wrapper .socials_wrapper {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

footer .logo_socials_wrapper .socials_wrapper svg {
  fill: #fff;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

footer .logo_socials_wrapper .socials_wrapper svg:hover {
  fill: #f25f3a;
  -webkit-transition: .2s;
  transition: .2s;
}

footer .logo_socials_wrapper p {
  color: #9095a7;
  font-size: .9rem;
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 6rem 9rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .logo_socials_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 10rem;
  }
  footer .logo_socials_wrapper .socials_wrapper {
    gap: 1rem;
  }
  footer .logo_socials_wrapper p {
    display: none;
  }
  footer nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 0;
    height: 10rem;
  }
  footer nav ul {
    gap: 1.5rem;
  }
  footer nav ul a {
    font-size: 1rem;
  }
  footer .form_copyright_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 10rem;
  }
  footer .form_copyright_wrapper p {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */